$color-white: #ffffff;
$color-black: #000000;

// Primary
$color-primary-900: #0f1242;
$color-primary-800: #191e6c;
$color-primary-700: #222995;
$color-primary-600: #2c35bf;
$color-primary-500: #4750d5;
$color-primary-400: #7279df;
$color-primary-300: #acb0ec;
$color-primary-200: #c9ccf3;
$color-primary-100: #dedff7;
$color-primary-50: #f3f3fc;

// Accent
$color-accent-900: #420f19;
$color-accent-800: #6c1928;
$color-accent-700: #952237;
$color-accent-600: #bf2c47;
$color-accent-500: #d54761;
$color-accent-400: #df7286;
$color-accent-300: #ecacb8;
$color-accent-200: #f3c9d1;
$color-accent-100: #f7dee3;
$color-accent-50: #fcf3f6;

// Neutral
$color-neutral-900: #0a0b12;
$color-neutral-800: #1d1e30;
$color-neutral-700: #32344b;
$color-neutral-600: #47496b;
$color-neutral-500: #6c6f93;
$color-neutral-400: #9496b8;
$color-neutral-300: #b3b5cc;
$color-neutral-200: #cfd0e2;
$color-neutral-100: #e4e5f1;
$color-neutral-50: #f5f5fa;
$color-neutral-0: #ffffff;

// Success
$color-success-900: #082114;
$color-success-800: #0e3e25;
$color-success-700: #18683d;
$color-success-600: #219156;
$color-success-500: #2bbb6e;
$color-success-400: #72dfa5;
$color-success-300: #acecca;
$color-success-200: #c9f3dd;
$color-success-100: #def7ea;
$color-success-50: #f3fcf7;

// Warning
$color-warning-900: #472b0a;
$color-warning-800: #59360d;
$color-warning-700: #865013;
$color-warning-600: #b26b1a;
$color-warning-500: #df8620;
$color-warning-400: #e9ad67;
$color-warning-300: #f2cfa6;
$color-warning-200: #f7e0c5;
$color-warning-100: #faecdb;
$color-warning-50: #fdf8f2;

// Error
$color-error-900: #420f11;
$color-error-800: #6c191c;
$color-error-700: #952226;
$color-error-600: #bf2c31;
$color-error-500: #d5474c;
$color-error-400: #df7275;
$color-error-300: #ecacae;
$color-error-200: #f3c9ca;
$color-error-100: #f7dedf;
$color-error-50: #fcf3f3;

// Graph
$color-blue-dark: $color-primary-500;
$color-blue-light: #2f8dfa;
$color-turquoise-dark: #049587;
$color-turquoise-light: #1fd0bf;
$color-green-dark: #14532d;
$color-green-light: #4ade80;
$color-yellow: #f8c753;
$color-purple-dark: #55008c;
$color-purple-light: #9d4edd;
$color-magenta: #a93790;
$color-pink-dark: $color-accent-500;
$color-pink-light: #eb648b;
$color-orange: #eb7e30;
$color-brown: #8b572a;
